<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kkk.dainyong.usr.login.repository.IUserRepository">

    <insert id="insert" parameterType="kkk.dainyong.usr.login.DTO.Users">
        INSERT INTO KUsers (id, nickname, gender, birth)
        VALUES (#{id}, #{nickname}, #{gender}, #{birth})
    </insert>


    <resultMap id="UsersResultMap" type="kkk.dainyong.usr.login.DTO.Users">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="gender" column="gender"/>
        <result property="birth" column="birth"/>
    </resultMap>

    <select id="findByEmail" resultMap="UsersResultMap">
        SELECT * FROM KUsers WHERE id = #{query}
    </select>

    <resultMap id="UProfileResultMap" type="kkk.dainyong.usr.login.DTO.UProfile">
        <id property="id" column="id"/>
        <result property="nickname" column="nickname"/>
        <result property="gender" column="gender"/>
        <result property="birth" column="birth"/>
        <result property="image" column="image"/>
    </resultMap>


    <select id="findByEmailForProfile" resultMap="UProfileResultMap">
        SELECT * FROM Profiles WHERE user_id = #{email}
    </select>


    <select id="findByProfileId" resultMap="UProfileResultMap">
        SELECT * FROM Profiles WHERE id = #{profileId}
    </select>

    <insert id="insertProfiles" parameterType="kkk.dainyong.usr.login.DTO.UProfile">
        INSERT INTO PROFILES (id, nickname, gender, birth, image, user_id)
        VALUES (profiles_seq.NEXTVAL, #{nickname}, #{gender}, #{birth}, #{image}, #{user_id})
    </insert>

    <update id="updateProfile" parameterType="kkk.dainyong.usr.login.DTO.UProfile">
        UPDATE PROFILES SET nickname=#{nickname}, gender=#{gender}, birth=#{birth}, image=#{image}
        WHERE ID=#{id}
    </update>

    <delete id="deleteProfile">
        DELETE FROM PROFILES WHERE ID = #{profileId}
    </delete>
</mapper>
